<div class="banner">
  <div class="content">
      <style>
          img {
               border: 1px solid #ddd;
                width: 250px;
                margin-left: 500px;
                margin-top: 30px;
              }
      </style>
      <!-- <img src="https://thumbs.dreamstime.com/b/rear-view-brunette-woman-who-looking-wall-colourful-icons-job-vacancies-concept-recruitment-59272214.jpg" alt="ketut" style="width: 350px;"> -->

     <h1 style="text-decoration: underline; margin-left: 30px;" >Get In Touch With Us</h1>
      
     <marquee behavior="" direction=""><p style="margin-left: 20px;font-weight: bold;">You can contact us directly using the form below or any of our office contact details listed on this page. We look forward to hearing from you!</p></marquee>
      <br>
      <br>

      <!-- <div class="add"><P style=" font-size: xx-large; text-decoration: underline;">ADDRESS</P>
       
      <h3  style="font-weight: bold;">DEXTRIS INFOSERVICES PRIVATE LIMITED</h3>
      </div> -->
      <h1 style="font-size: x-large; font-weight: bold;" class="ikkadeleft">DEXTRIS INFOSERVICES PRIVATE LIMITED</h1>
      <p class="ikkadeleft">#59, 2nd Floor, 4th Cross, 1st Main,
        Madiwala, Maruthi nagar, Bangalore-560068.</p>
        <h4 class="ikkadeleft"> Email:  <span style="font-size: large;"> hr@dextris.in</span>
        </h4>
        <h4 class="ikkadeleft">Phone:  <span style="font-size: large;"> +91-80-4212-8000</span> </h4>
<div class="ikkadeleft">
          <p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3888.8075191463768!2d77.61048079999999!3d12.9200894!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae1456f640c45f%3A0x3071a1ccef6ac95!2sDEXTRIS%20Infoservices%20Pvt%20Ltd!5e0!3m2!1sen!2sin!4v1677499495797!5m2!1sen!2sin" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></p>
        </div>
      <div class="container">
          <h1 class="form-title">Fill Your Details Here</h1>
          <form action="#">
            <div class="main-user-info">
              <div class="user-input-box">
                <label for="fullName"> Name</label>
                <input type="text"
                        id="Name"
                        name="Name"
                        placeholder="Enter  Name"/>
              </div>
              <div class="user-input-box">
                <label for="username">Email</label>
                <input type="email"
                        id="email"
                        name="email"
                        placeholder="Enter Email"/>
              </div>
              <div class="user-input-box">
                <label for="email">Mobile</label>
                <input type="number"
                        id="number"
                        name="number"
                        placeholder="Enter your Phonenumber"/>
              </div>
              <div class="user-input-box">
                <label for="phoneNumber">subject</label>
                <input type="text"
                        id="subject"
                        name="subject"
                        placeholder=""/>
              </div>
              
            </div>
            <div class="gender-details-box">
              <span class="gender-title">Gender</span>
              <div class="gender-category">
                <input type="radio" name="gender" id="male">
                <label for="male">Male</label>
                <input type="radio" name="gender" id="female">
                <label for="female">Female</label>
                <input type="radio" name="gender" id="other">
                <label for="other">Other</label>
              </div>
            </div>
            
            <h3 style="margin-left: 5PX; color: white;">  Attach CV</h3>
            <input type="file" name="" id="" style="margin-left: 5px;">

            <div class="form-submit-btn">
              <input type="submit" value="Send Message">
            </div>
          </form>
        </div>
       
        

      </div>

     
      </div>
