*{
    margin-top: 0px;
}
p{
font-size: large;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
margin-left: 10px;
}
h2{
    margin-left: 5px;
}
.desc1{
    display: flex;
    flex-direction: row;
    border: 2px solid black;
    box-shadow: 5px 5px 10px;
    border: none;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    
}
.section1{
    width: 65%;
}
.desc2{
    display: flex;
    flex-direction: row;
    border: 2px solid black;
    box-shadow: 5px 5px 10px;
    border: none;
    margin-left: 50px;
    margin-right: 50px;
    text-anchor: start;
    margin-top: 25px;
}
.section3{
    width: 100%;
}
.desc3{
    display: flex;
    flex-direction: row;
    border: 2px solid black;
    box-shadow: 5px 5px 10px;
    border: none;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 25px;
}
.section5{
    width: 65%;
}

.desc4{
    display: flex;
    flex-direction: row;
    border: 2px solid black;
    box-shadow: 5px 5px 10px;
    border: none;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 25px;
    /* flex: 1; */
    /* z-index: -1;
    filter: blur(5px); */
}
.section7{
    width: 100%;
    
}
section{
    position:absolute;
    /* background-image:url(../../assets/images/Back-Ground1.jpg); */
    filter: blur(5px);
    z-index: -1;
}
.desc5{
    display: flex;
    flex-direction: row;
    border: 2px solid black;
    box-shadow: 5px 5px 10px;
    border: none;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 25px;
}
.section9{
    width: 65%;
}
.section10{
    width: 65%;
}
.blink{
    animation: blinker 1.8s linear infinite;
    color: rgb(49, 43, 34);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
@keyframes blinker{
    75%{
        opacity: 0;
    }
}













/* .hire{
    text-decoration: underline;
}

p{
    font-size: 17px;
    color: rgb(54 53 53 / 80%);
    } */