<div class="container-fluid footer mt-5">
    <div class="row">
        <!-- name  -->
        <div class="col-lg-6 mt-3 mb-3">
            <h1>ADDRESS</h1>
            <h2>DEXTRIS InfoTech Pvt. Ltd.</h2>
            <p>
                DEXTRIS Infoservices Pvt. Ltd.
                
                #59, 2nd Floor, 4th Cross,
                
                1st Main, Madiwala, Maruthi nagar,
                
                Bangalore-560068,
                
                Karnataka, India.</p>
        </div>
        <!-- nav  -->
        <div class="col-lg-4 mt-3 mb-3">
            <a routerLink="home">Home</a>
            <a routerLink="aboutus">AboutUs</a>
            <a routerLink="services">OurServices</a>
            <a routerLink="careers">Careers</a>
            <a routerLink="contact">ContactUs</a>
           

        </div>
        <div class="col-lg-6 mt-3 mb-3">
            <h1>Contact</h1>
            <h2>DEXTRIS InfoTech Pvt. Ltd.</h2>

            <p>Phone: +91-80-4212-8000</p>

             <p> Email: hr@dextris.in</p> 
                
                
                
        </div>
        
        <!-- socialmedia -->
        <div class="col-lg-2 mt-3 mb-3">
            <a href="http://www.facebook.com" target="_blank"><i class="bi bi-facebook"></i></a>
            <a href="https://web.whatsapp.com" target="_blank"><i class="bi bi-whatsapp"></i></a>
            <a href="https://www.instagram.com/" target="_blank"><i class="bi bi-instagram"></i></a>
            <a href="https://www.youtube.com/" target="_blank"><i class="bi bi-youtube"></i></a>

            
        </div>
    </div>
    <div class="mu-footer-bottom-area">
        <h4>Copyright &copy; 2016 <a href="home" rel="nofollow">DEXTRIS InfoTech  Pvt. Ltd.</a> All Rights Reserved</h4>
      </div>
</div>