<div class="banner">
    <div class="content">
        <h1 class="mb-5" style="margin-left: -250px;">We Live And Breathe <br/> Software Development.</h1>
        <h2 style="margin-left: -250px; margin-top: -30px;">Our Methods of Execution</h2>
        <h3 style="margin-left: -250px;">Customized digital solutions designed to<br/> drive business transformation efficiently.</h3>
        <h5 style="margin-left: -250px;">DextrisInfoTech, a pioneer in adapting innovative technologies <br/>for outstanding results, prioritizes both customers and<br/> the company.We adopt a staff augmentation and<br/> managed services model to effectively handle tasks, <br/>and our dedicated experts utilizing agile development<br> processes consistently surpass customer expectations.</h5>

    </div>
</div>
<!-- step  -->
<div class="container mt-5 mb-5">
    <h1 class="text-center">Company <span class="highlight">Management</span></h1>
    <div class="row mt-5">
        <!-- one  -->
        <div class="col-lg-4 mt-2">
            <div class="stepBox">
                <h1>1</h1>
                <p>Rajashekar</p>
                <p>Director Of DextrisInfoTech</p>
            </div>
        </div>
<!-- two -->
        <div class="col-lg-4 mt-2">
            <div class="stepBox">
                <h1>2</h1>
                <p>HariKrishna</p>
                <p>Manager Of DextrisInfoTech</p>
            </div>
        </div>
        <!-- three  -->
        <div class="col-lg-4 mt-2">
            <div class="stepBox">
                <h1>3</h1>
                <p>Niveditha</p>
                <p>Head Of The HR</p>
            </div>
        </div>
    </div>
</div>

<!-- foodbox  -->
<div class="container mt-4 mb-4">
    <h1 class="blink">Welcome To <span class="highlight">DextrisInfoTech Pvt Ltd</span></h1>
    <h1>Be Smart, Be Advanced - Adopt, Automate, Transform</h1>
    <h4><p>Our digital solutions are driven by data and technology, delivering exceptional customer
         experiences, streamlined work processes, and intelligent strategies that drive growth.</p></h4>
   <h1>Empower your business and achieve your digital goals with DextrisInfoTech</h1>
   <h3>Bringing Digital Transformations to Life - Tackling Tomorrow's Issues Today!</h3>
   <h4><p>Our goal is to streamline digital transformation for businesses by leveraging advanced 
    technology and skilled professionals. We develop innovative solutions that bridge the gap between 
    the present and future, delivering a seamless experience for our clients.</p></h4>
    <div class="blink">
  <div class="row mt-5">
    <!-- one  -->
    <div class="col-lg-4 mt-2">
        <div class="stepBox">
            <img src="../../../assets/images/z1.png" alt="ketut" style="width: 50px;">

            <h1>Client-Centered Engagement Model</h1>
            <p>Each project is unique and requires a tailored solution. Our approach involves analyzing the needs and adapting to provide a fitting solution.</p>
        </div>
    </div>
<!-- two -->
    <div class="col-lg-4 mt-2">
        <div class="stepBox">
            <img src="../../../assets/images/z2.png" alt="ketut" style="width: 50px;">
            <h1>Expert Talent  Pool</h1>
            <p>Expert and Experienced Dedicated Teams to Ensure Delivery of High-Quality Projects on Time.</p>
        </div>
    </div>
    <!-- three  -->
    <div class="col-lg-4 mt-2">
        <div class="stepBox">
            <img src="../../../assets/images/z3.png" alt="ketut" style="width: 50px;">
            <h1>Staff Augmentation</h1>
            <p>Access a pool of highly skilled professionals from our extensive talent network to ensure timely completion of your projects.</p>
        </div>
    </div>
    <div class="row">

        <div class="col-lg-3 mt-3" >
            <div class="foodbox" >
                
               
            </div>
        </div>
    </div>
    
</div>
</div>





