<body>  
    <fieldset>
        <div class="container">
            <h2>CAREER</h2>
            <br>
            <h3>Openings @ DEXTRIS</h3>
            <br>
            <h4>1. Recruiters</h4>
            <p>If you are a fresher wanting to make career as Recruiter, we will offer you best learning and growing opportunity.</p>
            <h4>2. Lead Delivery</h4>
            <p>If you are an experienced recruiter and striving to being recognized as the best in your field, if you are passionate in recruitment and driven by the thrill of success. We offer a professionally driven open environment where results are highly regarded and rewarded.</p>
            <h4>3. Account Manager</h4>
            <p>If you are a leader - a star performer, a team player, knows how to translate a customer need to business, 
                If you should have the passion to drive the business and your career to go to the next level, If you are the one, 
                we offer a growing and learning environment to write your own success story as a DEXTRIS Account Manager.</p>
            <!-- <p>For an opportunity to join our team, and help us to make a difference, please forward your resume in MS word format to  -->
                <!-- <a href="hr@dextris.in.">hr@dextris.in.</a> We regret to inform that only shortlisted talents will be contacted.</p> -->
                <h3>Life @ DEXTRIS</h3>
                <p>Life @ DEXTRIS is of being able to do, to succeed and to have fun while we work. We offer a very professional work environment where people are recognized and rewarded for the work they do. We offer a platform to individuals to realize their true potential and to take their careers to new horizons.
                </p>
                <br>
                <p>We welcome you.</p>
                <br>

                <p>Any other questions feel free to <a href="">get in touch with us here</a></p>
    
        </div>
    </fieldset>
    </body>
























<!-- <div class="banner">
    <div class="content">
        <style>
            img {
                 border: 1px solid #ddd;
                  width: 250px;
                  margin-left: 500px;
                  margin-top: 30px;
}
        </style>
        <img src="../../../assets/images/d11.webp"  alt="ketut" style="width: 350px;">

        <h1 style="text-decoration: underline; margin-left: 10px;" > Career</h1>

    <br>
    <marquee [bgColor]="false" direction="right" scrollamount="11" [width]="20000" [height]="100">now reach your goal </marquee>

        <h3 style="margin-left: 10px;"> Openings @ DEXTRISInfoTech</h3>
<br>
        <h4 style="margin-left: 10px;">1. Developer</h4>
        <p style="margin-left: 20px;">If you are a fresher wanting to make career as Developer, we will offer you best learning and growing opportunity.</p>
        <h4 style="margin-left: 10px;">2. Java FullStack Developer</h4>
        <p style="margin-left: 20px;">If you are an experienced ava Full Stack Developer and striving to being recognized as the best in your field, if you are passionate in Developement and driven by the thrill of success. We offer a professionally driven open environment where results are highly regarded and rewarded.</p>
        <h4 style="margin-left: 10px;">3. Account Manager</h4>
        <p style="margin-left: 20px;">If you are a leader - a star performer, a team player, knows how to translate a customer need to business, If you should have the passion to drive the business and your career to go to the next level, If you are the one, we offer a growing and learning environment to write your own success story as a DEXTRIS Account Manager.</p>
        <p style="margin-left: 20px;">For an opportunity to join our team, and help us to make a difference, please forward your resume in MS word format to hr@dextris.in. We regret to inform that only shortlisted talents will be contacted.</p>
        <h4 style="text-decoration: underline; margin-left: 10px;">Life @ DEXTRISInfoTech</h4>
        <p style="margin-left: 20px;">Life @ DEXTRIS Info Tech is of being able to do, to succeed and to have fun while we work. We offer a very professional work environment where people are recognized and rewarded for the work they do. We offer a platform to individuals to realize their true potential and to take their careers to new horizons.
        </p>
        <p style="margin-left: 20px;">We welcome you.</p>
        <p style="margin-left: 20px;">Any other questions feel free to get in touch with us here</p>
        </div>
        <style>
            img {
                 border: 1px solid #ddd;
                  width: 250px;
                  margin-left: 500px;
                  margin-top: 30px;
}
        </style>
        <img src="../../../assets/images/s1.webp"  alt="ketut" style="width: 350px;">
        </div> -->
