<!-- <section> -->
    <div class="desc1">
        <div class="section1">
           <marquee behavior="" direction="horizontal"> <h2 class="blink">About Us</h2></marquee>
            <p>DEXTRIS helps drive digital agility for our clients. We deliver innovative business solutions using digital technologies such as cloud, mobile, analytics, Internet of Things, and social. With proven expertise in inventing and utilizing out-of-the-box sourcing strategies thus working on multiple candidate generation channels, we continue to provide a good value based proposition in terms of cost to quality. Our structured search process ensures that we have multiple levels of validations to ensure high success rate and speedy recruitment. We ensure that top level searches have personal attention of the senior management. From dynamic start ups to reputed Fortune 500 companies, we have helped organizations to recruit the right
             talent and we have also helped candidates find opportunities that match their career
              aspirations.</p>
            <p>DEXTRIS is led by a team of highly talented and experienced professionals who have 
                extensive experience in the technology, consulting, talent acquisition and services
                 industry.</p>
    
        </div>
        <div class="section2">
            <img src="../../assets/images/about_us_.png" 
            style="width: 325px; height: 325px;;margin-top: 7%;margin-left: 25%;" alt="">
        </div>
    </div>
    <div class="desc2">
        <div class="section3">
              <img src="../../assets/images/Vision.jpg"
              style="width: 300px; height: 250px; margin-left: 10px;" alt="">
        </div>
        <div class="section4">
            <marquee behavior="" direction=""><h2 class="blink">OUR VISION & MISSION</h2></marquee>
            <p>To be a global respected company that provides world-class business solutions &
                 resulting in maximum customer satisfaction.
                Deliver innovative and technology solutions for our clients across industries. 
                Provide a growth-oriented learning environment for employees worldwide enabling individual
                 excellence. To offer innovative, dynamic and complete HR solutions to our clients and 
                 supporting them in achieving their business goals.</p>
        </div>
    </div>
    <div class="desc3">
        <div class="section5">
            <marquee behavior="" direction=""><h2 class="blink">FOCUSING ON QUALITY RECRUITMENT</h2></marquee>
            <p>We serve a wide range of clients throughout India. It is our focus to
                provide effective recruitment solutions which enable our clients to 
                develop and achieve their objectives. We do this by being innovative, 
                professional and honorable in regards to every aspect of our recruitment practice.</p>
                <p>We focus on the best people and find them great environments to work in. 
                    We are dedicated to ensuring that our skilled and enthusiastic teams focus
                    on providing the very best service. That way, we build lasting relationships 
                    with our clients and candidates alike.
                </p>
                <p>DEXTRIS are renowned amongst our clients for our unparalleled ability to succeed 
                    (where our competitors have failed) in filling even the most difficult of vacancies.
                     We have an excellent team of intuitive resources who are fully trained in sourcing the
                      very best candidates for the job and who also take the time out to understand a company’s 
                      culture. Coupled with our highly knowledgeable team of Recruiters, 
                    DEXTRIS has a winning formula for filling both mainstream and highly specialized jobs.</p>
        </div>
        <div class="section6">
                <img src="../../assets/images/Recruitment.jpg" 
                style="width: 325px; height: 325px;;margin-top: 7%;margin-left: 25%;margin-top: 10px;" alt="">
        </div>
    </div>
    <div class="desc4">
        <div class="section7">
            <img src="../../assets/images/HR-Outsourcing.jpg"
            style="width: 350px; height: 250px;;margin-top: 2%; margin-left: 10px;" alt="">
        </div>
        <div class="section8">
            <marquee behavior="" direction=""><h2 class="blink">HR PROCESSING OUTSOURCING</h2></marquee>
            <p>  Out Sourcing HR has become a revolutionary trend setter in the industry. 
                However it is in its budget stage as so many corporate takes the functional aspect 
                of their core business and HR Core competence with their industry. This been main 
                factor in the HR outsourcing sector. We help you with expert from own industry with ample experience
                 as you expect and provide reliable solution. We don’t bring you just another HR for doing 
                 our business!
                 We share trust and ownership functionally with you for your business progress.</p>
               
                
        </div>
    </div>
<!-- </section>    -->































<!-- <div class="container mt-5 mb-5" >
    <style>
        img {
             border: 1px solid #650e0e;
              width: 50px;
              margin-left: 500px;
              margin-top: 30px;
}
    </style>
    <div class="imgdiv">
 <img src="../../../assets/images/asd.webp"class="imag1" alt="">
</div>
 

    <h1 class="text-center">An optimistic team that believes in the potential of technology</h1>

    <p>
        We are captivated by the remarkable results that emerge when technology is expertly integrated with human intelligence, which never fails to surprise us.
      
    </p>

    <h1 class="text-center">Adopting a Fresh Perspective on Digital Strategies</h1>

    <p>We never settle for anything less than the best.
        Our mission is to empower businesses with a cutting-edge digital presence while maintaining reliability and affordability. Our approach simplifies digital transformations and reduces technological hurdles. Our results-focused project management style and customer-centric solution design have always been key to delivering success. We continuously advance through transparent processes, a professional attitude, and by delivering innovative solutions. Our team members are provided with ample opportunities for personal and professional growth.</p>
     
        <h1 class="text-center">We respect your privacy</h1>

        <p>We use cookies to improve your experience on our website. They help us to improve site performance, present you relevant advertising and enable you to share content in social media.

 

            You may accept all cookies, or choose to manage them individually. You can change your settings at any time by clicking Cookie Settings available in the footer of every page.
            
             
            
            For more information related to the cookies, please visit our cookie policy..</p>
            <h4>Quite simply, we love what we do and we’re good at it!</h4>

           

            <br>
            

            <style>
                img {
                     border: 1px solid #650e0e;
                      width: 500px;
                      margin-left: 500px;
                      margin-top: 30px;
        }
            </style>
            <div class="imgdiv">
         <img src="../../../assets/images/p1.webp"class="imag1" alt="">
        </div>
</div> -->
